/* .pro-buttons{
  background-color: royalblue;
} */
  .project-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 50px;
    color: rgb(0, 238, 255);
    text-decoration: none;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 5px solid red;
    cursor: pointer;
    background-color:royalblue;
  }

  div {
    background-color: lightblue;
    
  }

  .pro-buttons {
    display: grid;
    grid-template-columns: auto auto;
    animation-timing-function: ease-in;
    animation-delay: 2s;
  }

  #Game:hover  {
background-image: url(./Game3-ss.png);
/* opacity: .8; */
background-position: left;
background-size: cover;
color: transparent;
  }
  #Calc:hover  {
background-image: url(./Calc-ss.png);
/* opacity: .8; */
background-position: center;
background-size: cover;
color: transparent;
  }
  #Movies-More:hover  {
    /* background-image: ; */
opacity: .8;
background-position: center;
background-size: cover;
  }

  #Movies-More {
    font-size: 42px;
    color: black;
    transition: 2s blue;
    animation: 3s slideout;
  }
  
@keyframes slideout {
  0% {
    left:-2000px;
  }
  100% {
    left: 0;
  }
  }
  #Calc {
    color: rgb(8, 8, 8);
       position: relative; 
    animation: 3s slideout;
  }
  
@keyframes slideout {
  0% {
    /* opacity: 0; */
    left:-2000px;
  }
  100% {
    /* opacity: 1; */
    left: 0;
  }
    
    }
  

  
  #Pro {
    color: black;
    color: black;
    position: relative; 
    animation: 3s slidein;
  }
  
  @keyframes slidein {
    0% {
      right:-2000px;
    }
    100% {
      right: 0;
    }

  
  }

  .project-button {
    margin-bottom: 20px;
     position: relative; 
    animation: 3s slidein;
    box-shadow: 0px 7px 10px 4px rgba(245, 3, 3, 0.75);
  
  }

  #Game {
    color: black;
      position: relative; 
      animation: 3s slidein;
    }
    
    @keyframes slidein {
      0% {
        right:-2000px;
      }
      100% {
        right: 0;
      }
  
    
    }
  