p {
  font-size: 30px;
  color: white;
  text-align: center;
}

#ab {
  font-size: 50px;
  color: white;
}

.about.container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.logo {
  display: flex;
  justify-content: center;
  width: 80%;
  height: auto;
  max-width: 600px;
  display: block;
  margin-top: 20px;
  margin-bottom: 30px;
  border: 10px solid black;
}

/* box-shadow: 0px 10px 10px 10px rgba(233, 231, 231, 0.75); */

#Me {
  animation: 3s slidein ease;
}

@keyframes slidein {
  0% {
    left: -2500px;
  }

  100% {
    left: 0;
  }
}



.para {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: 3s slideup ease;
  position: relative;
  background-color: #b70606;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 100px;
  padding: 30px;

  /* border: 10px solid black; */
}

@keyframes slideup {
  0% {
    bottom: -200px;
  }

  100% {
    bottom: 0;
  }
}

.row {
  display: flex;
  align-items: center;
}

.intro {
  flex: 1;
  /* width: 100%; */
  margin-left: 20px;
}

.wrap {
  flex-wrap: wrap;
}

#Chick {
  display: flex;
  justify-content: center;
  justify-self: center;
  width: 80%;
  height: auto;
  max-width: 600px;
  max-height: 500px;
  /* object-fit: contain; */
  display: block;
  margin-top: 20px;
  margin-left: 450px;
  animation: 3s slidein ease;
}

@keyframes slidein {
  0% {
    left: -2500px;
  }

  100% {
    left: 0;
  }
}

@media all and (max-width: 1300px) {
  .para {
    align-items: center;

  }
}