.nav-button {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 900px;
   

}

.home {
    background-color: red;
    
}

.container {
    min-height: 100vh;
}

.logo {
    margin-top: 20px;
    position: relative; 
    animation: 3s slidein;
    box-shadow: 0px 10px 10px 10px rgba(7, 7, 7, 0.75);

  }
  
  @keyframes slidein {
    0% {
      left:-2000px;
    }
    100% {
      left: 0;
    }
  }

