.logos {
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: red;
    /* color: blue; */
    color: #027c1a;
    font-size: 200px;
    cursor: pointer;
    margin-top: 20px;

  }
  /* :hover .logo {
    box-shadow: 0px 5px 5px 5px rgba(248, 245, 245, 0.75);

  } */
