.buttonNav {
  display: flex;
  justify-content: center;
  margin: 20px;
  width: 100px;
  width: 100%;
  background-color: black;
  padding: 16px;
  font-size: 35px;
  color: rgb(174, 172, 172);
  border-collapse: separate;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0px 7px 10px 1px rgba(0, 0, 0, 0.75);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 0 1px #808d93, -1px 0 #7f8081, -1px 2px #3e3f3f, -2px 1px #3e3f3f, -2px 3px #3e3f3f,
  -3px 2px #3e3f3f;
}

.navLinkContainer {
  display: flex;
  transition: height 0.5s;
  width: 100%;
  overflow: hidden;
  justify-content: center;
}


.nav-button {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-right: 50px;
}

.hamburger-menu {
  display: none;
}

@media all and (max-width: 800px) {

  .navLinkContainer,
  .nav-button {
    flex-direction: column;
    align-items: center;
  }

  .hamburger-menu {
    display: block;
  }

  .navLinkContainer.closed {
    height: 0;
  }
}

button.buttonNav {
  position: relative;
  animation: 3s slidedown ease;
}

@keyframes slidedown {
  0% {
    top: -2000px;
    right: -2000px;
  }

  100% {
    top: 0;
    right: 0px;

  }
}

.buttonNav:hover {
  background-color: #f2f4f3;
  transition: 0.7s;
  box-shadow: 0px 3px 3px 3px rgba(248, 245, 245, 0.75);
  color: rgb(12, 12, 12);
  text-shadow: none;
  transform: translateY(-7px) scale(0.95);
}

@media (max-width: 570px) {

/* .navbar {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 270px;
  height: 100vh;
  background: #002765;
  padding: 20px 15px;
  gap: 0.5rem;
  text-align: left;
  transition: all .50s ease;
} */