.app {
  text-align: center;
}

body {
  /* background-color:#7d807e; */
  /* background: linear-gradient(170deg, #870101,#C4BFBF); */
  /* background: linear-gradient(170deg, #7d807e,black); */
  /* background: linear-gradient(170deg, #4e4e4e,rgb(202, 201, 201)); */
  background: linear-gradient(170deg, #e4e4e4,black);
  /* background: linear-gradient(170deg, #8f8e8e,black); */

}



header {
  font-size: 80px;
  text-align: center;
  /* font-family: fantasy; */
  /* I need A new font */
  /* Focus onmaking the website even more profess */

  font-family: 'Haettenschweiler', sans-serif;
  text-decoration-line: underline;
  margin-top: 30px;
  margin-bottom: 30px;
  color: black;
  text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93,
    -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5, -4px 5px #808d93, -5px 4px #cdd2d5,
    -5px 6px #808d93, -6px 5px #cdd2d5, -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93,
    -8px 7px #cdd2d5;
  position: relative;
  animation: 3s slideout;
}

@keyframes slideout {
  0% {
    left: -2000px;
  }

  100% {
    left: 0;
  }

}